[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8-isort = "==2.7.0"
flake8 = "==3.7.9"

[packages]
paramiko = "*"


[requires]
python_version = "3.7"
